.b-bcg {
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  &--hero {
    background-image: url(../../public/images/heroNew1.jpg);
    @media (max-width: 600px) {
      background-image: url(../../public/images/hero3.jpg);
    }
  }
  &--music {
    background-image: url(../../public/images/musicNew2.jpg);
    // background-attachment: unset;
  }
  &--shop {
    background-image: url(../../public/images/band.webp);
  }
}
