.each-slide-effect__image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 80vh;
  z-index: 0;
  background-attachment: fixed;
  background-position: top;
  &--one {
    background-image: url(../../public/images/1.jpg);
  }
  &--two {
    background-image: url(../../public/images/3.jpg);
  }
  &--three {
    background-image: url(../../public/images/6.jpg);
  }
  &--four {
    background-image: url(../../public/images/5.jpg);
  }
  &--five {
    background-image: url(../../public/images/7.jpg);
  }
  &--six {
    background-image: url(../../public/images/4.jpg);
  }
}

.react-slideshow-wrapper.slide {
  z-index: -100;
}

.react-slideshow-container .default-nav {
  background: transparent !important;
  margin: 0 20px;
}

svg {
  fill: var(--text);
}
