.b-link {
  cursor: pointer;
  text-decoration: none;
  &--nav {
    text-transform: uppercase;
    color: var(--nav);
    font-family: var(--nav-font);
    font-size: 18px;
    margin-left: 20px;
  }
  &--mail {
    color: var(--text);
    font-size: 16px;
    font-family: 'Century Gothic';
    margin: 0;
  }
  &--social {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }
}
