.b-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b-music__heading {
  margin: 0;
  font-family: var(--music-font);
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--heading);
  margin: 40px auto;
  max-width: 1000px;
  text-shadow: 2px 2px 5px var(--bcg-dark);
  @media (min-width: 576px) {
    font-size: 56px;
    font-weight: 200;
  }
}

.b-music__player {
  width: 730px;
  height: 415px;
  border-radius: 10px;

  // border-radius: 12px;
  // width: 100%;
  // height: 380px;
  // @media (min-width: 700px) {
  //   width: 600px;
  // }
  // @media (min-width: 1000px) {
  //   width: 800px;
  // }
}
