.b-music {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.b-music__heading {
  font-family: var(--music-font);
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: var(--heading);
  margin: 0 auto 40px auto;
  max-width: 1000px;
  text-shadow: 2px 2px 5px var(--bcg-dark);
  text-align: center;

  @media (min-width: 576px) {
    font-size: 48px;
    font-weight: 200;
  }
}

.b-music__player {
  width: 320px;
  height: 265px;
  border-radius: 10px;
  @media (min-width: 700px) {
    width: 730px;
    height: 415px;
  }
}
